@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar {
}
.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-white rounded-lg;
  /* background: #f1f1f1; */
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-n-bg bg-opacity-95 rounded-lg;
}

/* Handle on hover */
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-opacity-100 cursor-pointer;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}